<!DOCTYPE html>
<html>
    <%- include('partials/head', {title: "Bike Seven - KGJJ"}) %>
    <body>
        <!-- HEADER -->
        <header>
            <h1>
                <a href="index.ejs"><img src="../images/logo-bike-seven-KGJJ.png" alt="Bike Seven KGJJ" /></a>
            </h1>

            <nav>
                <ul>
                    <li><a href="bicicletas.ejs">bicicletas</a></li>
                    <li><a href="accesorios.ejs">accesorios</a></li>
                    <li><a href="blog.ejs">blog</a></li>
                    <li><a href="contacto.ejs">contacto</a></li>
                </ul>
            </nav>

            <div class="header-access-panel">
                <section>
                    <a href="ingreso.ejs"><i class="fas fa-sign-in-alt fa-2x"></i></a>
                    <a href="registrarse.ejs"><i class="fas fa-user-circle fa-2x"></i></a>
                    </ul>
                </section>
                <section>
                    <a href="carrito.ejs"><i class="fas fa-shopping-cart fa-2x"></i></a>
                    <a href="busqueda.ejs"><i class="fas fa-search fa-2x"></i></a></li>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="https://www.facebook.com/ target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                </section>                                
            </div>
        </header>

        <!-- BANNER -->
        <main class="banner">
            <section>
                <h2>Modelo de Bicicleta</h2>
                <h3>detalle de bicicleta</h3>
                <button class="btn-outline btn-white">veure més</button>
            </section>
        </main>

        <!-- DESTACADOS -->
        <main class="destacados">
            <section>
                <img src="../images/banners/Banner-Hot-Stuff-1.jpg" alt="Bicicleta Destacada # 1" />
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium gravida euismod. Phasellus pulvinar elit vel orci vulputate cursus. Integer pharetra justo molestie, sollicitudin ex a, gravida libero. In viverra bibendum eni</p>
                <button>ver más</button>
            </section>
            <section>
                <img src="../images/banners/Banner-Hot-Stuff-2.jpg" alt="Bicicleta Destacada # 1" />
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium gravida euismod. Phasellus pulvinar elit vel orci vulputate cursus. Integer pharetra justo molestie, sollicitudin ex a, gravida libero. In viverra bibendum eni</p>
                <button>ver más</button>
            </section>
            <section>
                <img src="../images/banners/Banner-Hot-Stuff-3.jpg" alt="Bicicleta Destacada # 1" />
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium gravida euismod. Phasellus pulvinar elit vel orci vulputate cursus. Integer pharetra justo molestie, sollicitudin ex a, gravida libero. In viverra bibendum eni</p>
                <button>ver más</button>
            </section>
        </main>

        <!-- CATEGORIAS -->
        <main class="categorias">
            <a href="#">City Urban</a>
            <a href="#">Mountain bike</a>
            <a href="#">Downhill</a>
            <a href="#">Kids</a>
            <a href="#">Electric & Mono</a>
            <a href="#">Route</a>
        </main> 


        <!-- GALERIA DE PRODUCTOS -->
        <main class="galeria-de-productos">
            <h2>Lorem Ipsum</h2>    
            <section>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button onclick="location.href='detalle-de-producto.ejs'">comprar</button>
                </article>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>                
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>
            </section>
        </main> 
        <main class="galeria-de-productos">
            <h2>Lorem Ipsum</h2>    
            <section>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>                
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>
            </section>
            <section>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>                
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>
            </section>            
        </main>
        <main class="galeria-de-productos">
            <h2>Lorem Ipsum</h2>    
            <section>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>                
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>
            </section>
        </main>
        <main class="galeria-de-productos">
            <h2>Lorem Ipsum</h2>    
            <section>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>                
                <article>
                    <img src="../images/products/fpo.jpg" alt="FPO" />
                    <h4>Lorem Ipsum</h4>
                    <p class="precio">precio</p>
                    <button>comprar</button>
                </article>
            </section>
        </main>                        

        <!-- BLOG -->        
        <main class="blog">
            <section>
                <article>
                    <h2>Lorem Ipsum</h2><br>   
                    <img src="../images/ciclovia.JPG" alt="">
                    <h4>Lorem ipsum dolor sit amet
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium gravida euismod. Phasellus pulvinar elit vel orci vulputate cursus. Integer pharetra justo molestie, sollicitudin ex a, gravida libero. In viverra bibendum enim.</p>
                    <p>Nulla pretium gravida euismod. Phasellus pulvinar elit vel orci vulputate cursus. Integer pharetra justo molestie, sollicitudin ex a, gravida libero. In viverra bibendum enim.</p>                
                </article>
                
                <article> 
                    <h2>Lorem Ipsum</h2><br>   
                    <img src="../images/familia.jpg" alt="">
                    <h4>Lorem ipsum dolor sit amet
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium gravida euismod. Phasellus pulvinar elit vel orci vulputate cursus. Integer pharetra justo molestie, sollicitudin ex a, gravida libero. In viverra bibendum enim.</p>
                    <p>Nulla pretium gravida euismod. Phasellus pulvinar elit vel orci vulputate cursus. Integer pharetra justo molestie, sollicitudin ex a, gravida libero. In viverra bibendum enim.</p>                
                </article>                
            </section>                
        </main>  
        

        <!-- NOSOTROS -->        
        <main class="nosotros">
            <h2>Lorem Ipsum</h2>
            <section>
               
                <article>   
                    <img src="../images/Factory.jpg" alt="">
                </article>
                
                <article>   
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium gravida euismod. Phasellus pulvinar elit vel orci vulputate cursus. Integer pharetra justo molestie, sollicitudin ex a, gravida libero. In viverra bibendum enim.</p>
                    <br>
                    <p>Nulla pretium gravida euismod. Phasellus pulvinar elit vel orci vulputate cursus. Integer pharetra justo molestie, sollicitudin ex a, gravida libero. In viverra bibendum enim.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium gravida euismod. Phasellus pulvinar elit vel orci vulputate cursus. Integer pharetra justo molestie, sollicitudin ex a, gravida libero. In viverra bibendum enim.</p>
                    <br><p>Nulla pretium gravida euismod. Phasellus pulvinar elit vel orci vulputate cursus. Integer pharetra justo molestie, sollicitudin ex a, gravida libero. In viverra bibendum enim.v</p>
                    <br><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium gravida euismod. Phasellus pulvinar elit vel orci vulputate cursus. Integer pharetra justo molestie, sollicitudin ex a, gravida libero. In viverra bibendum enim.</p>
                    </p>
                </article>                
            </section>                
        </main>          

        <!-- FOOTER -->        
         <%- include('partials/footer') %>
    </body>
</html>