<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: "Productos"}) %>
<body>
    <!-- HEADER -->
    <%- include('partials/header') %> 

    <!-- GALERIA DE PRODUCTOS -->
    <main class="galeria-de-productos">
        <h2>Galería de Productos</h2>
        <section>
            <img src="../images/banners/Banner-Hot-Stuff-1.jpg" alt="Bicicleta Destacada # 1" />
            <h3>Lorem Ipsum</h3>
            <h4>AR$ 32.000</h4>
            <div>
                <a href="/products/detalleDeProducto" class="btn-buy">Comprar</a><a href="/products/detalleDeProducto" class="btn-view-more">Ver Más</a>
            </div>
        </section>

        <section>
            <img src="../images/banners/Banner-Hot-Stuff-1.jpg" alt="Bicicleta Destacada # 1" />
            <h3>Lorem Ipsum</h3>
            <h4>AR$ 32.000</h4>
            <div>
                <a href="/products/detalleDeProducto" class="btn-buy">Comprar</a><a href="/products/detalleDeProducto" class="btn-view-more">Ver Más</a>
            </div>
        </section>
        
        <section>
            <img src="../images/banners/Banner-Hot-Stuff-1.jpg" alt="Bicicleta Destacada # 1" />
            <h3>Lorem Ipsum</h3>
            <h4>AR$ 32.000</h4>
            <div>
                <a href="/products/detalleDeProducto" class="btn-buy">Comprar</a><a href="/products/detalleDeProducto" class="btn-view-more">Ver Más</a>
            </div>
        </section>
        
        <section>
            <img src="../images/banners/Banner-Hot-Stuff-1.jpg" alt="Bicicleta Destacada # 1" />
            <h3>Lorem Ipsum</h3>
            <h4>AR$ 32.000</h4>
            <div>
                <a href="/products/detalleDeProducto" class="btn-buy">Comprar</a><a href="/products/detalleDeProducto" class="btn-view-more">Ver Más</a>
            </div>
        </section>
        
        <section>
            <img src="../images/banners/Banner-Hot-Stuff-1.jpg" alt="Bicicleta Destacada # 1" />
            <h3>Lorem Ipsum</h3>
            <h4>AR$ 32.000</h4>
            <div>
                <a href="/products/detalleDeProducto" class="btn-buy">Comprar</a><a href="/products/detalleDeProducto" class="btn-view-more">Ver Más</a>
            </div>
        </section>
        
        <section>
            <img src="../images/banners/Banner-Hot-Stuff-1.jpg" alt="Bicicleta Destacada # 1" />
            <h3>Lorem Ipsum</h3>
            <h4>AR$ 32.000</h4>
            <div>
                <a href="/products/detalleDeProducto" class="btn-buy">Comprar</a><a href="/products/detalleDeProducto" class="btn-view-more">Ver Más</a>
            </div>
        </section>
        
        <section>
            <img src="../images/banners/Banner-Hot-Stuff-1.jpg" alt="Bicicleta Destacada # 1" />
            <h3>Lorem Ipsum</h3>
            <h4>AR$ 32.000</h4>
            <div>
                <a href="/products/detalleDeProducto" class="btn-buy">Comprar</a><a href="/products/detalleDeProducto" class="btn-view-more">Ver Más</a>
            </div>
        </section>
        
        <section>
            <img src="../images/banners/Banner-Hot-Stuff-1.jpg" alt="Bicicleta Destacada # 1" />
            <h3>Lorem Ipsum</h3>
            <h4>AR$ 32.000</h4>
            <div>
                <a href="/products/detalleDeProducto" class="btn-buy">Comprar</a><a href="/products/detalleDeProducto" class="btn-view-more">Ver Más</a>
            </div>
        </section>
        
        <section>
            <img src="../images/banners/Banner-Hot-Stuff-1.jpg" alt="Bicicleta Destacada # 1" />
            <h3>Lorem Ipsum</h3>
            <h4>AR$ 32.000</h4>
            <div>
                <a href="/products/detalleDeProducto" class="btn-buy">Comprar</a><a href="/products/detalleDeProducto" class="btn-view-more">Ver Más</a>
            </div>
        </section>
        
        <section>
            <img src="../images/banners/Banner-Hot-Stuff-1.jpg" alt="Bicicleta Destacada # 1" />
            <h3>Lorem Ipsum</h3>
            <h4>AR$ 32.000</h4>
            <div>
                <a href="/products/detalleDeProducto" class="btn-buy">Comprar</a><a href="/products/detalleDeProducto" class="btn-view-more">Ver Más</a>
            </div>
        </section>
        
        
    </main>
    
    <!-- FOOTER -->        
    <%- include('partials/footer') %>
</body>
</html>