<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: "Productos"}) %>
<body>
    <!-- HEADER -->
    <%- include('partials/header') %> 

    <!-- CARRITO -->
    <main class="carrito">
        <h2>Carrito</h2> 
        <p>Carrito vacío</p>
    </main>
   
    <!-- FOOTER -->        
    <%- include('partials/footer') %>
</body>
</html>