<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: "Productos"}) %>
<body>
    <!-- HEADER -->
    <%- include('partials/header') %> 

    <!-- GALERIA DE PRODUCTOS -->
    <main class="galeria-de-productos">
        <h2>Contacto</h2>
         
    </main>
    
    <!-- FOOTER -->        
    <%- include('partials/footer') %>
</body>
</html>