<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: "Productos"}) %>
<body>
    <!-- HEADER -->
    <%- include('partials/header') %> 

    <main class="detalle-de-productos">
        <h2>Detalle de Producto</h2>
    </main>    
    <main class="detalle-de-productos">
        <section>
            <img src="/images/products/detalle-de-producto.jpg" alt="Bicicleta"/>
        </section>
        <section class="detalle-de-productos-corto">
            <div><a href="/index">Inicio</a> / XTC SRL 291</div>

            <h3>XTC SRL 291</h3>
            <p>2021 Nulla pretium gravida euismod. Phasellus pulvinar elit vel orci vulputate cursus. Integer pharetra justo molestie, sollicitudin ex a, gravida libero.</p>

            <div class="social-share">
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
            
            <div class="dpc-cta">
                <a href="/main/carrito" class="btn btn-terciary">comprar</a>
            </div>
        </section>         
    </main>

    <main class="detalle-de-productos detalle-de-productos-description">
        <section>
            <h3>Detalles</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque aperiam dolor dolorem similique, sapiente blanditiis numquam, omnis dignissimos fuga eveniet facilis quidem optio quam labore eum impedit quas vero accusantium.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque aperiam dolor dolorem similique, sapiente blanditiis numquam, omnis dignissimos fuga eveniet facilis quidem optio quam labore eum impedit quas vero accusantium.</p>
        </section>
    </main>
    <div class="grey-bg">
        <div><h3>Especificaciones</h3></div>
        <main class="detalle-de-productos detalle-de-productos-tech">
            <section>
                <ul>
                    <li>Talles</li>
                    <li>Colores</li>
                    <li>Cuadro</li>
                    <li>Horquilla</li>
                    <li>Shock</li>
                    <li>Manubrio</li>
                    <li>Portasilla</li>
                    <li>Asiento</li>
                    <li>Pedales</li>
                    <li>Shifters</li>
                    <li>Descarrilador</li>
                    <li>Cambio Trasero</li>
                    <li>Frenos</li>
                </ul>
            </section>
            <section>
                <ul>
                    <li>S, M, L, XL</li>
                    <li>Sujetos a disponibilidad</li>
                    <li>Aluminio Grado ALUXX SLR</li>
                    <li>Giant Crest 34 RRL, 100 mm, 15x110, BR</li>
                    <li>N / A</li>
                    <li>Giant Connect XC, 31.8</li>
                    <li>Giant Connect 30.9</li>
                    <li>Sport Giant</li>
                    <li>Plataforma</li>
                    <li>Shimano SLX</li>
                    <li>-</li>
                    <li>Shimano Deore XT</li>
                    <li>Shimano BR-MT500</li>
                </ul>
            </section>

            <section>
                <ul>
                    <li>Manijas de Freno</li>
                    <li>Piñón</li>
                    <li>Cadena</li>
                    <li>Plato - Palanca</li>
                    <li>Caja Pedalera</li>
                    <li>Llantas</li>
                    <li>Mazas</li>
                    <li>Rayos</li>
                    <li>Cubiertas</li>
                    <li>Peso</li>
                </ul>
            </section>
            <section>
                <ul>
                    <li>Shimano BR-MT500</li>
                    <li>Shimano SLX, 10x51</li>
                    <li>KMC X-12</li>
                    <li>Shimano SLX, 32 t</li>
                    <li>Shimano, Press Fit</li>
                    <li>Giant XCT 29</li>
                    <li>Shimano</li>
                    <li>Giant XCT 29</li>
                    <li>Maxxis Recon Race 29x2.25, plegable, SC</li>
                    <li>No existe estándar que compare el peso de una bicicleta de una marca a otra, lo que conduce a informaciones erróneas. En Giant trabajamos para asegurarte la bicicleta más ligera que los ingenieros más reconocidos del mundo lograron diseñar.</li>
                </ul>
            </section>        
        </main> 
    </div>   
    
    <!-- FOOTER -->        
    <%- include('partials/footer') %>
</body>
</html>