<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: "Usuario creado"}) %>
<body>
    <%- include('partials/header') %>

    <main class="panelDeIngreso" style="min-height: 350px;">
        <section>
            <h2>Usuario creado</h2>
            <a href="javascript:history.back()" class="btn btn-secondary">volver</a>
        </section>
    </main>

    <%- include('partials/footer') %>
    
</body>
</html>