<footer>
    <section>
        <img src="../images/logo-bike-seven-KGJJ-footer.png" alt="Bike Seven KGJJ" />

        <nav>
            <ul>
                <li><a href="/products/bicicletas">bicicletas</a></li>
                <li><a href="/products/accesorios">accesorios</a></li>
                <li><a href="/main/blog">blog</a></li>
                <li><a href="/main/contacto">contacto</a></li>
            </ul>
        </nav>
    </section>
    <section class="breadcrumbs">
       <p>Design by Seven Up Team by DH</p> 
        <ul>
            <li><a href="/main/nosotros">La empresa</a></li>
            <li><a href="/main/promociones">Promociones</a></li>
            <li><a href="/main/entrega">Entrega</a></li>
            <li><a href="/main/mapaDelSitio">Mapa del sitio</a></li>
        </ul>
        <ul>
            <li>Bike Seven ®  2020 - Todos los Derechos reservados</li>
            <li><a href="/main/terminosDeUso">Términos de uso</a></li>
            <li><a href="/main/privacidad">Privacidad</a></li>
            <li><a href="/main/defensaAlConsumidor">Defensa al consumidor </a></li>
        </ul>                
     </section>                
 </footer>