<header>
    <h1>
        <a href="/index"><img src="../images/logo-bike-seven-KGJJ.png" alt="Bike Seven KGJJ" /></a>
    </h1>

    <nav>
        <ul>
            <li><a href="/products/bicicletas">bicicletas</a></li>
            <li><a href="/products/accesorios">accesorios</a></li>
            <li><a href="/main/blog">blog</a></li>
            <li><a href="/main/contacto">contacto</a></li>
        </ul>
    </nav>

    <div class="header-access-panel">
        <section>
            <a href="/users/login"><i class="fas fa-sign-in-alt fa-2x"></i></a>
            <a href="/users/register"><i class="fas fa-user-circle fa-2x"></i></a>
            </ul>
        </section>
        <section>
            <a href="/main/carrito"><i class="fas fa-shopping-cart fa-2x"></i></a>
            <a href="/main/busqueda"><i class="fas fa-search fa-2x"></i></a></li>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
        </section>                                
    </div>
</header>